    <header>
      <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
          <div class="container-fluid">
            <div class="header_bottom_border">
              <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2">
                  <div class="logo">
                    <%= link_to  image_tag("logo.png"), root_path%>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                  <div class="main-menu  d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><%= link_to "Home", root_path, class:"active" %></li>
                        <li><%= link_to  "About",about_path %></li>
                        <li><%= link_to  "Destination", root_path %></li>
                        <li><%= link_to  "Blog", root_path %></li>
                        <li><%= link_to  "Contact", contact_path %></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                  <div class="social_wrap d-flex align-items-center justify-content-end">
                    <% if logged_in? %>
                    <div class="main-menu avatar-nav">
                      <ul id="navigation">
                        <li><%= link_to @current_user do %>
                          <%= image_tag("avatar/3.png", :alt=>"",:class => "avatar")%>
                          <%= @current_user.name %>
                          <i class="ti-angle-down"></i>
                          <% end %>
                          <ul class="submenu">
                            <li><a href="#"><i class="fa fa-user-o"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-calendar-o"></i> Calendar</a></li>
                            <li><a href="#"><i class="fa fa-sliders"></i> Settings</a></li>
                            <li>
                              <div class="dropdown-divider"></div>
                            </li>
                            <li><%= link_to " Logout", logout_path,  method: :delete %></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <% else %>
                  <div class="number">
                    <p> <i class="fa fa-phone"></i> 10(256)-928 256</p>
                  </div>
                  <div class="number">
                    <%= link_to  "Log In", login_path ,class:"btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light"%>
                  </div>
                  <div class="social_links d-none d-xl-block">
                    <ul>
                      <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                      <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                      <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                      <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                    </ul>
                  </div>
                  <% end %>
                </div>
              </div>
              <div class="seach_icon">
                <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                  <i class="fa fa-search"></i>
                </a>
              </div>
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>
    </header>